.App {
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
}

.container{

}
.date{
  display: inline-block;
  margin-bottom: 1rem;

}
.amount{
  margin-left: 10px;
  color: brown;
  display: inline-block;
}